:root {
  --iconSize: 16;
  --previewSize: 16px;
  background: rgb(44, 62, 80);
}

.column {
  float: left;
}

.left {
  width: 220px;
  display: table-column;
  padding: 10px;
}

.right {
  width: 500px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.grid {
  margin: 100px 0 0;
  display: inline-grid;
  grid-template-columns: repeat(var(--iconSize), 1fr);
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.grid > div {
  width: 20px;
  height: 20px;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.colorPicker {
  padding-top: 10px;
}

.preview {
  padding: 10px;
  color: white;
}

.previewImg {
  width: var(--previewSize);
  height: var(--previewSize);
  border: 1px solid black;
}
