:root {
  --iconSize: 16;
  --previewSize: 16px;
}

.grid {
  margin: 100px 0 0;
  display: inline-grid;
  grid-template-columns: repeat(var(--iconSize), 1fr);
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.grid > div {
  width: 20px;
  height: 20px;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.preview {
  width: var(--previewSize);
  height: var(--previewSize);
  border: 1px solid black;
}
